$md = 641px;


$Canary-Light = 'nta';
$footer-background = $white;

$text-colour = $white;
$link-colour = $white;
$link-visited-colour = $white;
$link-hover-colour = $white;
$link-active-colour = $white;

//Framework
@import '_/_reset'
@import '_/_colour'
@import '_/_basic'
@import '_/_structure'
@import '_/_base'
@import '_/_icons'
